.main{
	h2{
		margin: 10px auto;
	}

	.panel.donations{
		border:none;

		.panel-heading.donations{ 
			background-color: #f0ad4e;
			color: white;
		}
	}

	.progress-container{
		padding: 20px;
	
		.progress{
			margin: 20px 0;
			height:32px;

			p{
				color: black;
				font-size: 24px;
				padding-top: 6px;
			}
		}

	}
}