<div class="main">
	<div class="col-xs-12">
		<div class="panel donations">
			<div class="panel-heading donations">
				<h2>
					Current Donation Progress:
				</h2>
			</div>
			<div class="progress-container">
				<div class="progress">
				  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="2500" style="width: 2%;">
				    <p>$50/$2500</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="panel panel-default panel-primary">
			<div class="panel-heading">
				<h2>
					Hello! We are the 'Dreem Teem'!
				</h2>
			</div>
			<div class="panel-body">
				<p>
					So, who are we?  We're a group of friends who are geeks, gamers, dorks, etc...and we want to help raise money for sick kids in need! And on October 25th, our whole group will gather in Chicago from all across the midwest to spend 24 hours together to participate in the <a href="http://extra-life.org">Extra Life Challenge</a> to raise money for Children's Miracle Network!  We're going to bust out retro consoles, modern gen powerhouses, and plenty of laptops and towers and spend 24 straight hours playing games and streaming the event live on <a href="http://twitch.tv">Twitch TV</a>!  We'll have several streams set up as we play party games, adventure games, couch co-op, competetive PC games, and many, many more.
				</p>
				<p>
					All the money goes for charity, and we're gonna do out best to make a super-entertaining stream for everyone to watch!  We'll have multiple streams running throughout the course of the day: one will be focused out in the main living space as we play games on the couch, ranging from N64 party games to modern shooters.  There will also be at least one dedicated PC gaming stream that will likely host a lot of Dota 2 as well as various fun co-op PC games.
				</p>
			</div>
		</div>
	</div>
</div>