<div class="main">
  <div class="panel panel-default info-block col-xs-12 col-md-5">
    <div class="panel-heading">
      <h2 class="panel-title">
        News Block #1
      </h2>
    </div>
    <div class="panel-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vestibulum vestibulum vehicula. Pellentesque in consequat nunc. Nunc hendrerit orci mauris, et gravida dolor lobortis ut. Vivamus accumsan ullamcorper diam, in convallis nisl lacinia quis. Morbi quis sodales velit. Integer luctus sagittis eros at varius. Aliquam risus elit, rutrum id aliquet ut, interdum non tellus. Proin at mauris hendrerit, facilisis risus nec, auctor mi. Etiam eu mauris purus. Praesent est lectus, congue ultrices laoreet ac, tincidunt rhoncus purus. In sit amet interdum nunc. Sed suscipit nunc metus, sit amet fringilla libero iaculis in. Nam vel aliquam nisi, ultrices condimentum massa. Nulla rhoncus enim dui, sit amet vulputate nulla aliquam vitae.
      </p>
    </div>
  </div>
  <div class="panel panel-danger info-block col-xs-12 col-md-5 col-md-offset-2">
    <div class="panel-heading">
      <h2 class="panel-title">
        News Block #2
      </h2>
    </div>
    <div class="panel-body">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vestibulum vestibulum vehicula. Pellentesque in consequat nunc. Nunc hendrerit orci mauris, et gravida dolor lobortis ut. Vivamus accumsan ullamcorper diam, in convallis nisl lacinia quis. Morbi quis sodales velit. Integer luctus sagittis eros at varius. Aliquam risus elit, rutrum id aliquet ut, interdum non tellus. Proin at mauris hendrerit, facilisis risus nec, auctor mi. Etiam eu mauris purus. Praesent est lectus, congue ultrices laoreet ac, tincidunt rhoncus purus. In sit amet interdum nunc. Sed suscipit nunc metus, sit amet fringilla libero iaculis in. Nam vel aliquam nisi, ultrices condimentum massa. Nulla rhoncus enim dui, sit amet vulputate nulla aliquam vitae.
      </p>
    </div>
  </div>

</div>